{% extends 'base.html' %}
{% block title %}Bill{% endblock %}

{% block body_content %}
        <div class="panel panel-left panel-right-2 panel-cover panel-init theme-dark">
          <div class="page">
              <div class = "block">
                  <h3>Hello , {{ username }} </h3>
              </div>
            <div class="block">
                <p><i class="icons f7-icons">person_crop_circle </i><a href="/home" class = "external">Home</a></p>
                <p><i class="icons f7-icons">rocket_fill </i><a href="#" class = "external">Rides</a></p>
                <p><i class="icons f7-icons">calendar_badge_plus </i><a href="#" class = "external">Payments</a></p>
                <p><i class="icons f7-icons">wrench_fill </i><a href="#" class = "external">Profile Settings</a></p>
                <p><i class="icons f7-icons">square_arrow_right </i><a href="/logout" class = "external">Logout</a></p>
                <p><a class="panel-close" href="#">Close me</a></p>
            </div>
          </div>
        </div>
        <div class="view view-main view-init">
          <div class="page">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner">
                    <div class="left">
                            <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p>
                            <!-- <div class= "block">
                                <img src="static/images/logo.png" height="50px" width = "50px" >
                            </div> -->
                        </div>
                        <div class="title">Bill</div>
                        <div class="right">
                                <a  href="#" ><i class="icons f7-icons">arrow_down_to_line</i></a></p> 
                        </div>
              </div>
            </div>
            <div class="page-content">
                <div class = "block text-align-center">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15594.062518588431!2d76.64893305!3d12.281023200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1573389283634!5m2!1sen!2sin" width="700" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                    <img src="static/images/logo.png" >
                </div>
                
            <div class="card card-outline">
                <div class="card-header " >
                    <div class = "left">
                           <h3>{{ time }}</h3> 
                    </div>
                    <div class = "right">
                        <h3>Total Amount : </h3>
                    </div>
                </div>
                <div class="card-content card-content-padding ">
                    
                    <h3>Ride timmings : </h2 h3>
                    <h3 class="color-theme-red"><i class="icons f7-icons">arrow_right</i></h2h3>
                    <h3><i class="icons f7-icons">arrow_left</i></h2 h3>
                    <h3>0 Mins</hh3>
                    
                </div>
                <div class="card-footer"><h3>Balance :</h3> </div>
            </div>
                
            </div>
        </div>
    </div>
    
  {% endblock %}
  
  {% block scripts %}
  
  <script type = "text/javascript">
  
  
  var $$ = Dom7;
  
  // Dom Events
  $$('.panel-left').on('panel:open', function () {
    console.log('Panel left: open');
  });
  $$('.panel-left').on('panel:opened', function () {
    console.log('Panel left: opened');
  });
  
  // Instance Events
  var panelRight = app.panel.get('.panel-right-1');
  panelRight.on('open', function () {
    console.log('Panel right: open');
  });
  panelRight.on('opened', function () {
    console.log('Panel right: opened');
  });
  
  // App Events
  app.on('panelClose', function (panel) {
    console.log('Panel ' + panel.side + ': close');
  });
  app.on('panelClosed', function (panel) {
    console.log('Panel ' + panel.side + ': closed');
  });
  app.on('panelResize', function (panel, newPanelWidth) {
    console.log('Panel resized to ' + newPanelWidth + 'px');
  });
  
  
  </script>
  {% endblock %}
  