{% extends 'base.html' %}
{% block title %}Bill{% endblock %}

{% block body_content %}
        <div class="view view-main view-init">    
            <div class="panel panel-left panel-right-2 panel-cover panel-init theme-dark">
                <div class="page">
                    <div class = "block">
                        <h3>Hello , {{ username }} </h3>
                    </div>
                  <div class="block">
                      <p><i class="icons f7-icons ">house</i> &NonBreakingSpace;<a href="/home" class = "external">Home</a></p>
                      <p><i class="icons f7-icons">person_crop_circle </i>&NonBreakingSpace;<a href="/my_account" class = "external">My Profile</a></p>
                      <p><i class="fa fa-bicycle" style="font-size:28px;"></i> &NonBreakingSpace;<a href="/rides" class = "external">Rides</a></p>
                      <p><i class="icons f7-icons">creditcard_fill</i>&NonBreakingSpace;<a href="" class = "open-prompt2">Top Up</a></p>
                      <p><i class="icons f7-icons">info</i>&NonBreakingSpace;<a href="" class = "open-alert">Fare</a></p>
                      <p><i class="icons f7-icons">calendar_badge_plus </i> &NonBreakingSpace;<a href="/payments" class = "external">Payments</a></p>
                      <p><i class="icons f7-icons">square_arrow_right </i> &NonBreakingSpace;<a href="/logout" class = "external">Logout</a></p>
                      <p><a class="panel-close" href="#">Close me</a></p>
                  </div>
                </div>
              </div>
          <div class="page">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner">
                    <div class="left">
                            <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p>
                            <!-- <div class= "block">
                                <img src="static/images/logo.png" height="50px" width = "50px" >
                            </div> -->
                        </div>
                        <div class="title">Bill</div>
                        <div class="right">
                                <a  href="/download_bill" class = "external padding" ><i class="icons f7-icons">arrow_down_to_line</i></a></p> 
                        </div>
              </div>
            </div>
            <div class="page-content">
                <div class = "block text-align-center">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15594.062518588431!2d76.64893305!3d12.281023200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1573389283634!5m2!1sen!2sin" width="700" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                    <img src="static/images/logo.png" height = "100px" width = "100px" >
                </div>
               
            <div class="card card-outline">
                <div class="card-header " >
                    <div class = "left">
                           <h3>{{ time }}</h3> 
                    </div>
                    <div class = "right">
                        <h3> &#x20B9; {{ amount }}</h3>
                    </div>
                </div>
                <div class="card-content card-content-padding ">
                    {% for i in data %}
                    <h3>Ride timmings :&NonBreakingSpace;{{ i["start_time"]}} - {{i["end_time"]}} </h3>
                    <h3><i class="icons f7-icons">arrow_right</i> &NonBreakingSpace; {{ i["from"] }}</h3>
                    <h3><i class="icons f7-icons">arrow_left</i> &NonBreakingSpace;{{ i["destination"] }}</h3>
                    <h3>{{ minutes }} Mins. </h3>
                    {% endfor %}
                </div>
                <div class="card-footer">
                  <h3>Balance : &#x20B9; {{ balance }}</h3>
                  <div class = "right">
                      <a href = "/home" class= "external" ><button class="col button button-outline button-raised">OK</button></a> 
                  </div>
                 </div>
            </div>
               
            </div>
        </div>
    </div>
    
  {% endblock %}
  
  {% block scripts %}
  
  <script type = "text/javascript">
  
  
  var $$ = Dom7;

  // Alert
$$('.open-alert').on('click', function () {
  app.dialog.alert('Ride Fare:<br>Base price : &#x20B9;{{ base_price }}<br>per minute : &#x20B9;{{ per_min }}<br>Minimum Balance : &#x20B9;{{ min_price }}');
});

//Top Up
$$('.open-prompt2').on('click', function () {
    app.dialog.prompt('Enter Amount to be added', function (Amount) {
      app.dialog.confirm('Are you sure that Amount is ' + Amount + '?', function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            Amount = this.responseText;
          }
        };
        xhttp.open("POST", "/top_up", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("Amount="+Amount);
        setTimeout(wait,1000);
      });
    });
  });

function wait()
{
  window.location.href = '/home';
}
  
  // Dom Events
  $$('.panel-left').on('panel:open', function () {
    console.log('Panel left: open');
  });
  $$('.panel-left').on('panel:opened', function () {
    console.log('Panel left: opened');
  });
  
  // Instance Events
  var panelRight = app.panel.get('.panel-right-1');
  panelRight.on('open', function () {
    console.log('Panel right: open');
  });
  panelRight.on('opened', function () {
    console.log('Panel right: opened');
  });
  
  // App Events
  app.on('panelClose', function (panel) {
    console.log('Panel ' + panel.side + ': close');
  });
  app.on('panelClosed', function (panel) {
    console.log('Panel ' + panel.side + ': closed');
  });
  app.on('panelResize', function (panel, newPanelWidth) {
    console.log('Panel resized to ' + newPanelWidth + 'px');
  });
  
  
  </script>
  {% endblock %}
  