{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body_content %}
        <div class="panel panel-left panel-right-2 panel-cover panel-init theme-dark">
          <div class="page">
              <div class = "block">
                  <h3>Hello , {{ username }} </h3>
              </div>
            <div class="block">
                <p><i class="icons f7-icons">person_crop_circle </i>&NonBreakingSpace;<a href="/home" class = "external">Home</a></p>
                <p><i class="icons f7-icons">rocket_fill </i>&NonBreakingSpace;<a href="#" class = "external">Rides</a></p>
                <p><i class="icons f7-icons">calendar_badge_plus </i>&NonBreakingSpace;<a href="#" class = "external">Payments</a></p>
                <p><i class="icons f7-icons">wrench_fill </i>&NonBreakingSpace;<a href="#" class = "external">Profile Settings</a></p>
                <p><i class="icons f7-icons">square_arrow_right </i>&NonBreakingSpace;<a href="/logout" class = "external">Logout</a></p>
                <p><a class="panel-close" href="#">Close me</a></p>
            </div>
          </div>
        </div>
        <div class="view view-main view-init">
          <div class="page">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner">
                    <div class="left">
                            <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p>
                            <!-- <div class= "block">
                                <img src="static/images/logo.png" height="50px" width = "50px" >
                            </div> -->
                        </div>
                        <div class="title">Ride-a-Bike</div>
                        <div class="right">
                                <!-- <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p> -->
                                <button class="col button open-alert"><i class="icons f7-icons">info </i> </button>
                        </div>
              </div>
            </div>
            <div class="page-content">
                <div class="block text-align-center">
                    <!-- <p align="center">
                      <img src="static/images/logo.png" >
                    </p> -->
                </div>
                <div class="block block-strong color-theme-green">
                  {% for i in docking_station_details %}
                  <div class = "block">
                    <div class="card">
                      <div class="card-header">
                        <h4> {{ i["station_name"] }}</h4>
                        <div class = "right">
                            <form action="/start_ride" method = 'POST'>
                              <input type = "hidden" name = "station_name" value = "{{ i["station_name"] }}" />
                              <button class="col button button-outline button-raised">Select</button>
                            </form>
                        </div>
                      </div>
                      <div class="card-content card-content-padding">
                          <h4>Number of scooters : {{ i["no_of_scooters"] }}</h4>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      
{% endblock %}

{% block scripts %}

<script type = "text/javascript">


var $$ = Dom7;

// Alert
$$('.open-alert').on('click', function () {
  app.dialog.alert('Ride Fare:<br>Half hour : 50<br>One hour : 100<br>One and Half Hour : 200<br>Two Hours : 300');
});

// Dom Events
$$('.panel-left').on('panel:open', function () {
  console.log('Panel left: open');
});
$$('.panel-left').on('panel:opened', function () {
  console.log('Panel left: opened');
});

// Instance Events
var panelRight = app.panel.get('.panel-right-1');
panelRight.on('open', function () {
  console.log('Panel right: open');
});
panelRight.on('opened', function () {
  console.log('Panel right: opened');
});

// App Events
app.on('panelClose', function (panel) {
  console.log('Panel ' + panel.side + ': close');
});
app.on('panelClosed', function (panel) {
  console.log('Panel ' + panel.side + ': closed');
});
app.on('panelResize', function (panel, newPanelWidth) {
  console.log('Panel resized to ' + newPanelWidth + 'px');
});


</script>
{% endblock %}
