{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body_content %}        
        <div class="view view-main view-init">
            <div class="panel panel-left panel-right-2 panel-cover panel-init theme-dark">
                <div class="page">
                    <div class = "block">
                        <h3>Hello , {{ username }} </h3>
                    </div>
                  <div class="block">
                      <p><i class="icons f7-icons">house</i>&NonBreakingSpace;<a href="/home" class = "external">Home</a></p>
                      <p><i class="icons f7-icons">person_crop_circle </i>&NonBreakingSpace;<a href="/my_account" class = "external">My Profile</a></p>
                      <p><i class="fa fa-bicycle" style="font-size:28px;"></i>&NonBreakingSpace;<a href="/rides" class = "external">Rides</a></p>
                      <p><i class="icons f7-icons">creditcard_fill</i>&NonBreakingSpace;<a href="" class = "open-prompt2">Top Up</a></p>
                      <p><i class="icons f7-icons">info</i>&NonBreakingSpace;<a href="" class = "open-alert">Fare</a></p>
                      <p><i class="icons f7-icons">calendar_badge_plus </i>&NonBreakingSpace;<a href="/payments" class = "external">Payments</a></p>
                      <p><i class="icons f7-icons">square_arrow_right </i>&NonBreakingSpace;<a href="/logout" class = "external">Logout</a></p>
                      <p><a class="panel-close" href="#">Close me</a></p>
                  </div>
                </div>
              </div>
          <div class="page-content">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner">
                    <div class="left">
                            <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p>
                            <!-- <div class= "block">
                                <img src="static/images/logo.png" height="50px" width = "50px" >
                            </div> -->
                        </div>
                        <div class="title">Ride-a-Bike</div>
                        <div class="right padding">
                                <!-- <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">menu</i></a></p> -->
                                &#x20B9;{{ amount }}/-
                        </div>
              </div>
            </div>
            <div class="page-content">
                <div class="block text-align-center">
                    <!-- <p align="center">
                      <img src="static/images/logo.png" >
                    </p> -->
                </div>
                <div class="block block-strong color-theme-green">
                  {% for i in docking_station_details %}
                  <div class = "block">
                    <div class="card">
                      <div class="card-header">
                        <h4> {{ i["station_name"] }}</h4>
                        <div class = "right">
                            <form action="/start_ride" method = 'POST'>
                              <input type = "hidden" name = "station_name" value = "{{ i["station_name"] }}" />
                              <button class="col button button-outline button-raised">Select</button>
                            </form>
                        </div>
                      </div>
                      <div class="card-content card-content-padding">
                          <h4>Number of scooters : {{ i["no_of_scooters"] }}</h4>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      
{% endblock %}

{% block scripts %}

<script type = "text/javascript">


var $$ = Dom7;

// Alert
$$('.open-alert').on('click', function () {
  app.dialog.alert('Ride Fare:<br>Base price : &#x20B9;20<br>per minute : &#x20B9;3<br>Minimum Balance : &#x20B9;100');
});

//Top Up
$$('.open-prompt2').on('click', function () {
    app.dialog.prompt('Enter Amount to be added', function (Amount) {
      app.dialog.confirm('Are you sure that Amount is ' + Amount + '?', function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            Amount = this.responseText;
          }
        };
        xhttp.open("POST", "/top_up", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("Amount="+Amount);
        setTimeout(wait,1000);
      });
    });
  });

function wait()
{
  window.location.href = '/home';
}

// Dom Events
$$('.panel-left').on('panel:open', function () {
  console.log('Panel left: open');
});
$$('.panel-left').on('panel:opened', function () {
  console.log('Panel left: opened');
});

// Instance Events
var panelRight = app.panel.get('.panel-right-1');
panelRight.on('open', function () {
  console.log('Panel right: open');
});
panelRight.on('opened', function () {
  console.log('Panel right: opened');
});

// App Events
app.on('panelClose', function (panel) {
  console.log('Panel ' + panel.side + ': close');
});
app.on('panelClosed', function (panel) {
  console.log('Panel ' + panel.side + ': closed');
});
app.on('panelResize', function (panel, newPanelWidth) {
  console.log('Panel resized to ' + newPanelWidth + 'px');
});


</script>
{% endblock %}
