<!DOCTYPE HTML>
<html>
	<head>
		<title>Ride-a-Bike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/main.css" />
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" >

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1><span style="font-family:pacifico">Ride-a-Bike</span></h1>
								<p>More smiles per hour</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#about">About</a></li>
								<li><a href="/signup" classs = "external">Sign Up</a></li>
								<li><a href="/login" class = "external">Login</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="static/images/pic01.jpg" alt=""/></span>
								<p>Ride a Bike is a platform through which one can rent a bike that can be used
                                        temporarily for a fee during specified period. Renting a bike helps people get around despite
                                        the fact they do not have access to their own personal vehicle or don’t own a vehicle at all.</p>
                                <p>
                                        The system involves borrowing a bike from any docking station across the city and
                                        returning the borrowed bike after a ride to any docking station as rider convenience.
                                        Members use their login credentials to sign up and a bike will be issued to the respective user,
                                        at the end of the ride charges will be levied as per the usage time . 
                                </p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<!-- <ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul> -->
							</article>

						
					</div>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- BG -->
			<div id="bg">
            </div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
