{% extends 'base.html' %}
{% block title %}Manager{% endblock %}

{% block body_content %}
<div class="view view-main ">

<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
            <img src="static/images/logo.png" class = "padding-top" height="65px" width = "65px" >
    </div>
    <div class="title"><h2><span style="font-family:pacifico">Ride-a-Bike </span></h2></div>
    <div class="right">
      <a href="/logout" class="external "><i class="icons f7-icons padding-right">square_arrow_right </i></a>
  </div>
      <div class="subnavbar">
        <div class="subnavbar-inner">
          <div class="segmented segmented-raised">
            <a class="button tab-link tab-link-active" href="#tab1">Menu</a>
            <a class="button tab-link" href="#tab2">Rides</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content hide-navbar-on-scroll">
    <div class="tabs">
      <div class="tab tab-active" id="tab1">
        <block class = "text-color-black">
          menu block
        </block>
        <div class="float-right">
          <div class="menu">
           <div class="menu-inner">
            <div class="menu-item menu-item-dropdown">
                <div class="menu-item-content text-color-blue"><i class="icons f7-icons">ellipsis_vertical</i></div>
                <div class="menu-dropdown menu-dropdown-right">
                  <div class="menu-dropdown-content">
                      <div class="block">
                          <div class="block color-theme-blue">
                              <h3 class="row"><a  href="/set_fare" class = " link external menu-dropdown-link menu-close ">Set Fare</a></h3>
                              <h3 class="row"><a  href="#" class = " link external menu-dropdown-link menu-close ">Add Promo Code</a></h3>
                              <h3 class="row"><a  href="#" class = " link external menu-dropdown-link menu-close ">Delete Promo Code</a></h3>
                              <h3 class="row"><a  href="/messages" class = " link external menu-dropdown-link menu-close ">View Messages</a></h3>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </div> 
        <div class="block color-theme-blue">
            <p class="row">
              <button class="col button button-outline"><a href="/add_scooter" class = "external"> Add Scooter</a></button>
            </p>
            <p class="row">
                <button class="col button button-outline open-prompt1"><a href="#" class = "external">Remove Scooter</a></button>
            </p>
            <p class="row">
                <button class="col button button-outline open-prompt2">Add Docking Station</button>
            </p>
            <p class="row">
                <button class="col button button-outline open-prompt3"><a href="#" class = "external">Remove Docking Station</a></button>
            </p>
        </div> 
      </div>
      <div class="tab" id="tab2">
          <div class = "block">
              <h2 align="left" class = "text-color-blue padding-left">Active Rides</h2>
          </div>
              <div class="data-table card">
                {% if data %}
                  <table>
                    <thead>
                      <tr>
                        <th class="label-cell"><h3 class = "text-align-center">Registration Number</h3></th>
                        <th class="label-cell"><h3 class = "text-align-center">From</h3></th>
                        <th class="label-cell"><h3 class = "text-align-center">Rider Name</h3></th>
                        <th class="label-cell"><h3 class = "text-align-center">Issue Time</h3></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in data %}
                      <tr>
                        <td class="label-cell text-align-center">{{ i["registration_number"] }}</td>
                        <td class="label-cell text-align-center">{{ i["from"] }}</td>
                        <td class="label-cell text-align-center">{{ i["name"] }}</td>
                        <td class="label-cell text-align-center">{{ i["start_time"] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
                <div class = "block">
                    <h2 align="left" class = "text-color-blue padding-left">Logs</h2>
                </div>
                <div class="data-table card">
                    {% if logs %}
                      <table>
                        <thead>
                          <tr>
                            <th class="label-cell"><h3 class = "text-align-center">Rider Name</h3></th>
                            <th class="label-cell"><h3 class = "text-align-center">From</h3></th>
                            <th class="label-cell"><h3 class = "text-align-center">Check Out</h3></th>
                            <th class="label-cell"><h3 class = "text-align-center">To</h3></th>
                            <th class="label-cell"><h3 class = "text-align-center">Check In</h3></th>
                            <th class="label-cell"><h3 class = "text-align-center">Amount</h3></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in logs %}
                          <tr>
                            <td class="label-cell text-align-center">{{ i["name"] }}</td>
                            <td class="label-cell text-align-center">{{ i["from"] }}</td>
                            <td class="label-cell text-align-center">{{ i["start_time"] }}</td>
                            <td class="label-cell text-align-center">{{ i["destination"] }}</td>
                            <td class="label-cell text-align-center">{{ i["end_time"] }}</td>
                            <td class="label-cell text-align-center">{{ i["amount"] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% endif %}
                    </div> 
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}

<script type = "text/javascript">

var $$ = Dom7;

$$('.open-prompt1').on('click', function () {
    app.dialog.prompt('Vehicle Number', function (num) {
      app.dialog.confirm('Are you sure that Vehicle Number is ' + num + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });

$$('.open-prompt2').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            name = this.responseText;
          }
        };
        xhttp.open("POST", "/add_station", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("station_name="+name);
        app.dialog.alert("Docking Station successfully added!");
        window.location.href = '/manager';
      });
    });
  });

$$('.open-prompt3').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });
  
  // // Dom Events
  // $$('.panel-left').on('panel:open', function () {
  //   console.log('Panel left: open');
  // });
  // $$('.panel-left').on('panel:opened', function () {
  //   console.log('Panel left: opened');
  // });
  
  // // Instance Events
  // var panelRight = app.panel.get('.panel-right-1');
  // panelRight.on('open', function () {
  //   console.log('Panel right: open');
  // });
  // panelRight.on('opened', function () {
  //   console.log('Panel right: opened');
  // });
  
  // // App Events
  // app.on('panelClose', function (panel) {
  //   console.log('Panel ' + panel.side + ': close');
  // });
  // app.on('panelClosed', function (panel) {
  //   console.log('Panel ' + panel.side + ': closed');
  // });
  // app.on('panelResize', function (panel, newPanelWidth) {
  //   console.log('Panel resized to ' + newPanelWidth + 'px');
  // });

</script>
{% endblock %}
