{% extends 'base.html' %}
{% block title %}Manager{% endblock %}

{% block body_content %}
<div class="view view-main ">
        <div class="page-content">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                        <div class="navbar-inner">
                            <div class="left">
                                <div class= "block">
                                    <img src="static/images/logo.png" height="50px" width = "50px" >
                                </div>
                            </div>
                            <div class="title">Ride-a-Bike</div>
                            <div class="right">
                                <a href="/logout" class = "external"><i class="icons f7-icons">square_arrow_right</i></a>
                            </div>
                        </div>
                </div>
                        <div class="block color-theme-blue">
                            <p class="row">
                              <button class="col button button-outline"><a href="/add_scooter" class = "external"> Add Scooter</a></button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt1"><a href="#" class = "external">Remove Scooter</a></button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt2"  >Add Docking Station</button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt3"><a href="#" class = "external">Remove Docking Station</a></button>
                            </p>
                        </div>

                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}

<script type = "text/javascript">

var $$ = Dom7;

$$('.open-prompt1').on('click', function () {
    app.dialog.prompt('Vehicle Number', function (num) {
      app.dialog.confirm('Are you sure that Vehicle Number is ' + num + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });

$$('.open-prompt2').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            name = this.responseText;
          }
        };
        xhttp.open("POST", "/add_station", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("station_name="+name);
        app.dialog.alert("Docking Station successfully added!");
      });
    });
  });

$$('.open-prompt3').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });


</script>
{% endblock %}
