{% extends 'base.html' %}
{% block title %}Manager{% endblock %}

{% block body_content %}
<!-- <div class="panel panel-right panel-right-2 panel-cover panel-init theme-dark">
  <div class="page">
    <div class="block">
      <h2><span style="font-family:pacifico">Ride-a-Bike</span></h2>
    </div>
    <div class="block">
      <div class="block color-theme-blue">
        <h3 class="row">
          <a  href="/add_scooter" class = " link external"> Add Scooter</a>
        </h3>
        <h3 class="row">
            <a href="#" class = "external open-prompt1">Remove Scooter</a>
        </h3>
        <h3 class="row">
            <a class = "link open-prompt2">Add Docking Station</a>
        </h3>
        <h3 class="row">
            <a href="#" class = "external open-prompt3">Remove Docking Station</a>
        </h3>
        <h3><a href="/logout" class = "external">Logout</a></h3>
        <p><a class="panel-close" href="#">Close me</a></p>
      </div>
    </div>
  </div>
</div> -->
<div class="view view-main ">
        <div class="page-content">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                        <div class="navbar-inner">
                            <div class="left">
                                <div class= "block">
                                    <img src="static/images/logo.png" height="50px" width = "50px" >
                                </div>
                            </div>
                            <div class="title"><h3><span style="font-family:pacifico">Ride-a-Bike</span></h3></div>
                            <div class="right">
                                <!-- <p><a class="button panel-open" href="#" data-panel=".panel-right-2"><i class="icons f7-icons">ellipsis_vertical</i></a></p> -->
                                <a href="/logout" class="external padding"><i class="icons f7-icons">square_arrow_right </i></a>
                            </div>
                        </div>
                </div>
                  <div class="float-right">
                    <div class="menu">
                     <div class="menu-inner">
                      <div class="menu-item menu-item-dropdown">
                          <div class="menu-item-content text-color-blue"><i class="icons f7-icons">ellipsis_vertical</i></div>
                          <div class="menu-dropdown menu-dropdown-right">
                            <div class="menu-dropdown-content">
                                <div class="block">
                                    <div class="block color-theme-blue">
                                        <h3 class="row"><a  href="/add_scooter" class = " link external menu-dropdown-link menu-close "> Add Scooter</a></h3>
                                        <h3 class = "row"><a href="#" class = "external open-prompt1 menu-dropdown-link menu-close">Remove Scooter</a></h3>
                                        <h3 class="row"><a class = "link open-prompt2 menu-dropdown-link menu-close">Add Docking Station</a></h3>
                                        <h3 class="row"><a href="#" class = "external open-prompt3 menu-dropdown-link menu-close">Remove Docking Station</a></h3>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                  </div>
                <!-- <div class = "block"> -->
                      <h2 class = "text-color-blue text-align-left padding-left">Active Rides</h2>
                <!-- </div> -->
                    <div class="data-table card">
                      {% if data %}
                        <table>
                          <thead>
                            <tr>
                              <th class="label-cell"><h3>Registration Number</h3></th>
                              <th class="label-cell"><h3>From</h3></th>
                              <th class="label-cell"><h3>Rider Name</h3></th>
                              <th class="label-cell">Issue Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <td class="label-cell">{{ i["registration_number"] }}</td>
                              <td class="label-cell">{{ i["from"] }}</td>
                              <td class="label-cell">{{ i["name"] }}</td>
                              <td class="label-cell">{{ i["start_time"] }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                      </div>
                      <div class = "block">
                          <h2 align="left" class = "text-color-blue">Logs</h2>
                      </div>
                      <div class="data-table card">
                          {% if logs %}
                            <table>
                              <thead>
                                <tr>
                                  <th class="label-cell"><h3>Rider Name</h3></th>
                                  <th class="label-cell"><h3>From</h3></th>
                                  <th class="label-cell"><h3>Check Out</h3></th>
                                  <th class="label-cell"><h3>To</h3></th>
                                  <th class="label-cell"><h3>Check In</h3></th>
                                  <th class="label-cell"><h3>Amount</h3></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for i in logs %}
                                <tr>
                                  <td class="label-cell">{{ i["name"] }}</td>
                                  <td class="label-cell">{{ i["from"] }}</td>
                                  <td class="label-cell">{{ i["start_time"] }}</td>
                                  <td class="label-cell">{{ i["destination"] }}</td>
                                  <td class="label-cell">{{ i["end_time"] }}</td>
                                  <td class="label-cell">{{ i["amount"] }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            {% endif %}
                          </div>
                        <!-- <div class="block color-theme-blue">
                            <p class="row">
                              <button class="col button button-outline"><a href="/add_scooter" class = "external"> Add Scooter</a></button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt1"><a href="#" class = "external">Remove Scooter</a></button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt2">Add Docking Station</button>
                            </p>
                            <p class="row">
                                <button class="col button button-outline open-prompt3"><a href="#" class = "external">Remove Docking Station</a></button>
                            </p>
                        </div> -->
                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}

<script type = "text/javascript">

var $$ = Dom7;

$$('.open-prompt1').on('click', function () {
    app.dialog.prompt('Vehicle Number', function (num) {
      app.dialog.confirm('Are you sure that Vehicle Number is ' + num + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });

$$('.open-prompt2').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            name = this.responseText;
          }
        };
        xhttp.open("POST", "/add_station", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("station_name="+name);
        app.dialog.alert("Docking Station successfully added!");
        window.location.href = '/manager';
      });
    });
  });

$$('.open-prompt3').on('click', function () {
    app.dialog.prompt('Docking Station Name', function (name) {
      app.dialog.confirm('Are you sure that your Docking Station Name is ' + name + '?', function () {
        //app.dialog.alert('Ok, your name is ' + name);
      });
    });
  });
  
  // // Dom Events
  // $$('.panel-left').on('panel:open', function () {
  //   console.log('Panel left: open');
  // });
  // $$('.panel-left').on('panel:opened', function () {
  //   console.log('Panel left: opened');
  // });
  
  // // Instance Events
  // var panelRight = app.panel.get('.panel-right-1');
  // panelRight.on('open', function () {
  //   console.log('Panel right: open');
  // });
  // panelRight.on('opened', function () {
  //   console.log('Panel right: opened');
  // });
  
  // // App Events
  // app.on('panelClose', function (panel) {
  //   console.log('Panel ' + panel.side + ': close');
  // });
  // app.on('panelClosed', function (panel) {
  //   console.log('Panel ' + panel.side + ': closed');
  // });
  // app.on('panelResize', function (panel, newPanelWidth) {
  //   console.log('Panel resized to ' + newPanelWidth + 'px');
  // });

</script>
{% endblock %}
