{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body_content %}
<div class="view view-main ">
        <div class="page-content">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                        <div class="navbar-inner">
                            <div class="left">
                                <a href="/" class = "external"><i class="icons f7-icons">arrow_left</i></a>
                            </div>
                            <div class="title">View</div>
                            <div class="right">
                                <a href="/logout" class = "external"><i class="icons f7-icons">square_arrow_right</i></a>
                            </div>
                        </div>
                        Content goes here...
                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
